body {
<<<<<<< HEAD
=======
    box-sizing: border-box;
>>>>>>> origin/master
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(58, 61, 66);
}

<<<<<<< HEAD
=======
 /*header*/
>>>>>>> origin/master
header {
    height: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 7;
    align-items: center;
}

header h1 {
    font-weight: 400;
}

header h2 {
    font-weight: 400;
    color: lightgray;
}

header #logo {
    display: inline-flex;
    align-items: center;
}

#logo image{
    min-height: 2rem;
}

nav li{
    display: inline-flex;  
    padding-left: 1.5rem;
}

<<<<<<< HEAD

=======
/*sign-up*/
>>>>>>> origin/master
.sign-up-section {
    background-color: lightgray;
    padding-top: 4rem;
    display: flex;
<<<<<<< HEAD
   
}

.sign-up-section img {
    max-width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
=======
}

/*image part*/
.sign-up-section #image-container {
    max-width: 60%;
    padding: 2rem 1.5rem;
}

.sign-up-section img {
    max-width: 100%;
>>>>>>> origin/master
}

.sign-up-text {
    display: block;
    width: auto;
    align-content: center;
<<<<<<< HEAD
    padding-right: 2rem;
=======
    padding: 2rem 1.5rem 1.5rem 0;
>>>>>>> origin/master
}

.sign-up-text h3 {
    font-size: 2.375rem;
    font-weight: bold;
    padding-bottom: 2rem;
<<<<<<< HEAD

=======
>>>>>>> origin/master
}

.sign-up-text p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.sign-up-section #button {
    padding: .5rem 0;
    width: 100%;
    height: auto;
    background-color: rgb(58, 61, 66);
    color: white;
    text-align: center;
}

<<<<<<< HEAD
.quote-section img {
    max-width: 60%;
    padding: 2rem 1.5rem;
}

=======
.info-section {
    display: flex;
}

/*info section: quote*/
.quote-section {
    display: inline-block;
    width: 60%;
    padding: 2rem 1.5rem;
}

.quote-section img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
}

.quote-section h4 {
    font-size: 2.375rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.quote-section p {
    padding-bottom: 1.5rem;
}

.quote-section #author {
    font-size: .75rem;
}

/**/
.more-info-section{
    
}
/*info section: orientation*/
.orientation-section {
    display: flex;
    width: 40%;
}

.orientation-section img{
    max-width: 35%;
    height: auto;
}


>>>>>>> origin/master
