html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 7;
}

header h1 {
    font-weight: 400;
}

header h2 {
    font-weight: 400;
    color: lightgray;
}

nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;  
    padding-left: 1.5rem;
    float: right;
}

.sign-up-section {
    background-color: lightgray;
    padding-top: 4rem;
    display: flex;
}

.sign-up-section img {
    max-width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

.sign-up-text {
    color: rgb(58, 61, 66);
    display: block;
    width: auto;
}

.sign-up-text h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;

}

.sign-up-text p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.sign-up-section #button {
    padding: .5rem 0;
    width: 10rem;
    height: auto;
    background-color: rgb(58, 61, 66);
    color: white;
    text-align: center;
}

