html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 7;
}

nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;  
    padding-left: 1.5rem;
    float: right;
}

.sign-up-section {
    background-color: lightgray;
    padding-top: 4rem;
}

.sign-up-section img {
    max-width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
    
}


